[{capture append="oxidBlock_content"}]
    [{assign var="template_title" value=$oView->getTitle()}]
    <div class="cmsContent" style="margin-bottom:180px;">
        <p>
            [{oxifcontent ident="oxcookiesexplanation" object="oCont"}]
                [{$oCont->oxcontents__oxcontent->value}]
            [{/oxifcontent}]
        </p>
    </div>
[{/capture}]
[{include file="layout/page.tpl"}]