<!-- Navi Leiste Ein/Ausblenden -->
<!--<div class="navbar-header">-->
<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
    <span class="sr-only">Navigation ein-/ausblenden</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
</button>
<!--</div>--><!-- Ende: Navi Leiste Ein/Ausblenden -->
