/*
    Helper:
*/

.dre_hidden{
    display: none !important;
}
.dre_visible{
    display: block !important;
}
#productList > thead > tr > th{
    border:none;
}
.pictureBoxSB-NoBig{
	height: 40px;
	width: 40px;
}
.pictureBoxSB{
	height: 40px;
	transition: all 0.3s ease 0s !important;
	width: 40px;
}
.pictureBoxSB:hover {
	width: 200px;
	height: 200px;
	transition: all 0.3s ease !important;
	transition-delay: 0.3s !important;
}
.sidebarBadge{
	position: absolute;
}

.nonePadding{
	padding:0 !important;
}

.btn:disabled{
    cursor: not-allowed;
    pointer-events:all !important;
    opacity: 0.35 !important;
}
.disabled{
    cursor: not-allowed;
    pointer-events:all !important;
    /*opacity: 0.35 !important;*/
}

.disabled > a > span > i {
    opacity: 0.35 !important;
}

.hidden-trash{
    visibility: hidden;
}

#wrapper{
    width: 100%;
    overflow: hidden;
}


.panel-body{
    padding:10px;
}

.navbar-form{
    padding:0;
}

.form-horizontal .form-group{
    padding-left:  15px;
    padding-right: 15px;
}

hr{
    width:100%;
    float: left;
}

.align-right{
    text-align: right;
}
.align-left{
    text-align:left;
}
/*
width: 13%;
float: left;
/*border: 1px solid red;
padding: 10px;
margin-left: 5px;*/
/*
width: 13%;
position: fixed;
left:15px;
max-height: 800px;
overflow: scroll;
border: 1px dashed #c6c6c6;
padding-bottom: 10px;
padding-left: 10px;
padding-right: 10px;
padding-top: 10px;
*/
#sidebarLeft{
    /* neu wegen row col */
    position: fixed;
    left: 0;
    max-height: 100%;
    overflow: auto;
    top:140px;
    bottom:0;
}

#userFavoriten{
	/*min-height: 30px;*/
}

#sidebarRight{
    position: fixed;
    right:  0;
    max-height: 100%;
    overflow: auto;
	top:140px;
	bottom:0;
}

#naviLeiste{
	/*margin-top: 5px;*/
}

#sortable :hover{
    cursor: move;
}

.starttext{
    width: 100%;
}
.container {

    /*float: left !important;*/
    width: 90%;

}

.breadcrumb > li{
    min-width: 0 !important;
}

/* Ipad größe*/
@media (max-width: 768px) {

    #contentwrapper{
        float:left;
        /*border: 1px solid red;*/
        width: 85%;
        margin-left: 13%;
        overflow: scroll;
    }

    .container {
        /*float: left !important;*/
        width: 95%;
    }
}

/* Alles anzeigen */
@media (min-width: 768px) {

    #contentwrapper{
        float:left;
        /*border: 1px solid red;*/
        max-width: 70%;
        margin-left: 13%;
        overflow: scroll;
    }

}
@media(max-width: 990px){
    #contentwrapper{
        float:left;
        /*border: 1px solid red;*/
        max-width: 93%;
        margin-left: 10%;
        overflow: scroll;
    }
}
@media(min-width: 990px){

}

.form-group-service > a.minilogout{
    margin-top: 11px;
}
#sortable{
    padding-left: 0;
}

/*Neu*/
.categoryBox {
    border-color: #999999;
    border-style: solid;
    border-width: 1px;
    margin: 0 0 0;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
}

#sidebar .tree {
    margin: 0 0 0 0;
    padding-left: 0 !important;
}

#sidebar .tree ul {
    padding-left:0;
    margin: 0;
}

#sidebar .tree .headline{
    font-weight: bold;
}

#sidebar .tree li {
    list-style: none;
    padding: 0;
    /*background: #ddd;*/
}

#sidebar .tree li.active li {
    list-style: none;
    padding: 0;
    background: #fff;
}

#sidebar .tree ul li a  {
    padding-left: 5px;
    color: #333;
}

#sidebar .tree li.exp>a, #sidebar .tree li.active>a {
    position: relative;
}

#sidebar .tree ul li.active li a  {
    color: #000;
}

#sidebar .tree ul li.active li a:hover  {
    color: #fff;
}

#sidebar .tree ul li ul li a  {
    padding-left: 0px;
}

#sidebar .tree ul li ul li ul li a  {
    padding-left: 0px;
}


#sidebar .tree a  {
    /*border-bottom:1px solid #999;*/
    display:block;
    padding:3px;
    line-height: 13px;
	margin-right: 30px;
}

#sidebar .tree a>i {
    width:14px;
    height: 14px;
    background:  left top no-repeat;
    float:left;
    padding:0;
    margin:2px 5px 2px 0;
}

#sidebar .tree li.exp>a>i span, #sidebar .tree li.active>a>i span {
    width:14px;
    height: 14px;
    position: absolute;
    bottom: -14px;
    z-index: 20;
}

#sidebar .tree li.end>a>i span {
    background: none;
}

#sidebar .tree a:hover {
    background: #75b3c1 ;
    color:#fff;
}


#sidebar .tree li.active>a {
    background: #75b3c1 ;
    color:#fff;
}

#sidebar .tree li.active>a>i {
    background-position: 1px -30px;
}

/* Varianten Listitem-Line */

td.ampelcolumn {
    /*
    min-width: 185px !important;
    */
    font-size: 10px;
}

td.VeEinheit{
    min-width: 20px;
}

.tableselections .imagecolumn{
    /*padding-left: 10px !important;*/
}
.pictureBoxDetails{
    width:200px;
    height:200px;
    transition: all 0.3s ease !important;
}
.pictureBoxDetails img{
    width:100%;
    height:100%;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
}


.pictureBoxDetails:hover {
    width:550px;
    height:550px;
    transition: all 0.3s ease !important;
    transition-delay: 0.3s !important;
}

.sort-visible{
    visibility: hidden;
}



.pictureBoxVar {
    width: 22px;
    height: 22px;
    transition: all 0.3s ease !important;
}


.pictureBoxVar:hover {
    width: 200px;
    height: 200px;
    transition: all 0.3s ease !important;
    transition-delay: 0.3s !important;
}


.pictureBoxVar img {
    width: 100%;
    height: 100%;
}

div.stockFlagBox{
    top: 4px;
}
.ProduktionszeitText{
    margin-top:5px;
}

/* Checkout Steps: */

.wizard {
    margin: 8px auto 0 auto;
    background: #fff;
}

.wizard .nav-tabs {
    position: relative;
    margin: 0px auto;
    margin-bottom: 0;
    border-bottom-color: #e0e0e0;
}

.wizard > div.wizard-inner {
    position: relative;
}

.connecting-line {
    height: 2px;
    background: #e0e0e0;
    position: absolute;
    width: 80%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    z-index: 1;
}

.wizard .nav-tabs > li.active > a, .wizard .nav-tabs > li.active > a:hover, .wizard .nav-tabs > li.active > a:focus {
    color: #555555;
    cursor: default;
    border: 0;
    border-bottom-color: transparent;
}

span.round-tab {
    width: 70px;
    height: 70px;
    line-height: 70px;
    display: inline-block;
    border-radius: 100px;
    background: #fff;
    border: 2px solid #e0e0e0;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 25px;
}
span.round-tab i{
    color:#555555;
}
.wizard li.active span.round-tab {
    background: #fff;
    border: 2px solid #5bc0de;
    
}
.wizard li.active span.round-tab i{
    color: #5bc0de;
}

span.round-tab:hover {
    color: #333;
    border: 2px solid #333;
}

.wizard .nav-tabs > li {
    width: 25%;
}

.wizard li:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 0;
    margin: 0 auto;
    bottom: 0px;
    border: 5px solid transparent;
    border-bottom-color: #5bc0de;
    transition: 0.1s ease-in-out;
}

.wizard li.active:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 1;
    margin: 0 auto;
    bottom: 0px;
    border: 10px solid transparent;
    border-bottom-color: #5bc0de;
}

.wizard .nav-tabs > li a {
    width: 70px;
    height: 70px;
    margin: 20px auto;
    border-radius: 100%;
    padding: 0;
}

.wizard .nav-tabs > li a:hover {
    background: transparent;
}

.wizard .tab-pane {
    position: relative;
    padding-top: 50px;
}

.wizard h3 {
    margin-top: 0;
}

@media( max-width : 585px ) {
    
    .wizard {
        width: 90%;
        height: auto !important;
    }
    
    span.round-tab {
        font-size: 16px;
        width: 50px;
        height: 50px;
        line-height: 50px;
    }
    
    .wizard .nav-tabs > li a {
        width: 50px;
        height: 50px;
        line-height: 50px;
    }
    
    .wizard li.active:after {
        content: " ";
        position: absolute;
        left: 35%;
    }
}

/* end Checkout Steps */

/* Button */
#userChangeShippingAddress{
	/*margin-left: 10px;*/
}

.dropdown-menu{
	text-align: left !important;
}
.popover{
	max-width: none !important;
}
td.imagecolumn{
	padding-bottom: 0 !important;
	padding-top: 0 !important;
}
#productList{
	margin-top: 15px;
}
.tooltip-inner {
	color: #000;
	background-color: #fff;
}
