/*
a:active, a:focus {
    outline: none;
}
.btn:active, .btn:focus {
    outline: none;
}
*/

/**
 * header
 */
/*
.unshrinked #header {
    height: 75px;
    background-color:   #F0F0F0;
    border-color:       #AEAEAE;
}
.shrinked #header {
    height: 58px;
    background-color:   #F0F0F0;
    border-color:       #AEAEAE;
}
*/
/**
 * Logo
 */

/*
@media (min-width: 590px) {
    .unshrinked #logo {
        display: block;
        background-image: url(../img/logo-big.png);
        background-repeat: no-repeat;
        background-size: 150px 60px;
        width: 150px;
        height: 60px;
    }
    .shrinked #logo {
        margin-top: 1px;
        display: block;
        background-image: url(../img/logo-big.png);
        background-repeat: no-repeat;
        background-size: 100px 40px;
        width: 100px;
        height: 40px;
    }
}
*/
#darkInizer {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:rgba(0, 0, 0, 0.85);
    z-index:9999;
    color:white;
    width:100%;
    height:100%;
}
#alertLoggedOut {
    position:absolute;
    top: 25%;
    left: 25%;
    width: 50%;
    z-index:10000;
}

/**
 * other
 */
/**
 * buttons customization
 */
.articleselect .btn-basket,
.tabellenspalte .btn-basket,
.tabellenspalte .btn-favorite,
.tabellenspalte .btn-info,
.tabellenspalte .btn-show-variants {
    font-size: 10px !important;
    padding: 1px 12px !important;
    margin-left: 5px;!important;
}
.tabellenspalte .btn-basket span,
.tabellenspalte .btn-show-variants span {
    width: 85px !important;
    display: inline-block;
}
#mehrinfobn{
    /*margin-left: 5px;*/
}
.tabellenspalte .btn-basket{
    position: relative !important;
    float: right !important;
    right: 1px !important;
    margin-top: 20px;
}
.tableselections td {
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.btn-info{
    margin-left: 10px !important;
    background-color:       #75B3C1; /*#428bca;*/
    border-color:           #75B3C1; /*#357ebd;*/
    color:                  #fff;
}
.btn{
    margin-left:2px;
}
.btn:hover{
    background-color: #E6E6E6 !important;
    border-color: #ADADAD !important;
    color: #000011;
}
.optionen{
    padding-left: 7px;
    background-color:       #75B3C1; /*#428bca;*/
    border-color:           #75B3C1;/*#357ebd;*/
    color:                  #fff;
}




.input-line{
    border-collapse: separate;
    /*display: -moz-box;
    display: -webkit-box;
    display: box;*/
    display:inline-flex;
    position: relative;
}
.selection-text{
    margin-left: 10px !important;
}
.bootstrap-touchspin-down{
    margin-left: 5px !important;
}

.selection-artnum-text{

}
.selection-title-text{

}
/**
 * Template: listitem_line.tpl
 */
.hidden-xs{
    padding: 0 !important;
}

/*
.pictureBox img {
    width:50px;
    height:50px;

}
*/
.pictureBox {
    width:50px;
    height:50px;
    transition: all 0.3s ease !important;
}

.pictureBox:hover {
    width:200px;
    height:200px;
    transition: all 0.3s ease !important;
    transition-delay: 0.3s !important;
}
.pictureBox img {
    width:100%;
    height:100%;
}
/*
tr.tabellenspalte td.imagecolumn:hover {
    width:200px;
    height:200px;

}
tr.tabellenspalte td.imagecolumn:hover .pictureBox img{
    width:200px;
    height:200px;
}
*/
/*
.pictureBoxDetails img:hover{
    width:340px !important;
    height:340px !important;
}
*/

.img-thumbnail {
    display: inline-block;
    height: auto;
    line-height: 1.42857;
    max-width: 100%;
    padding: 0 !important;
    /*transition: all 0.2s ease-in-out 0s;*/
    /*transition: all 1s ease !important;
    transition-delay: 1s !important;*/
}


/**
 * ampel stuff
 */
div.stockFlagBox {
    display: inline-block;
    height: 12px;
    width: 17px;
    position: relative;
    margin-bottom: -3px;
    margin-left: 5px;
}
div.notOnStock {
    background-color: #FF0000;
}
div.lowStock {
    background-color: #FFFF00;
}
div.onStock {
    background-color: #00FF00;
}

/**
 * Columns stuff
 */
.ebenetitel .headline {
    font-weight: bold;
}

.ebenetitel{
    width: 650px;
    padding-top: 4px !important;
    padding-bottom: 4px !important;

}
.tableselections .ebenetitel{
    width: 630px;
}

.ebeneprice{
    width: 250px;
    padding-top: 4px !important;
    padding-bottom: 4px !important;

}
.ebenepreisneu{
    width: 194px;

    padding-top: 4px !important;
    padding-bottom: 4px !important;
}
.ebeneselect{
    /*width: 100px;*/

    padding-top: 4px !important;
    padding-bottom: 4px !important;
    padding-left: 0 !important;
    padding-right: 0 !important;

}

td.imagecolumn {
    width: 78px;
}
.tableselections .tabellenspalte .bootstrap-touchspin-down{
    margin-left: 2px !important;
}

.tableselections .imagecolumn{
    width: 88px;
}
.tableselections .Warenkorb{
    width: 152px;
}
.tableselections .selprice{
    width: 95px;
    text-align:right;
}
.tableselections .selprice .price{
    margin-right: 6px;
}
.tableselections .ampelcolumn{
    padding-left: 8px !important;
}


td.uvptitle {
    width: 52px;
}

td.uvpprice,
td.selprice {
    width: 95px;
    text-align:right;
}
td.ampelcolumn {
    width: 175px;
    font-size: 10px;
}

tr.articleselect {
    display: none;
}
tr.articleselect > td {
    padding: 0px !important;
}
.tableselections td {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.articleselect .btn-basket {
    margin-left: 22px !important;
}

tr.highlight td {
    background-color: #428bca;
}

/**
 * spinner customization
 */
.spinner  .form-control,
.spinner button {
    font-size: 13px !important;
    height: 22px !important;
    padding: 1px 12px !important;
}
.spinner .input-group-btn-vertical > .btn {
    padding: 5px;
}
.spinner .input-group-btn-vertical i {
    left: 2px;
    top: -1px;
}

/* changed copy of bodynova.css  */
body.unshrinked  {
    padding-top: 130px;
}

body.shrinked  {
    padding-top: 80px;
}

@media (max-width: 589px) {
    #logo {
        margin-top: 1px;
        display: block;
        background-image: url(../img/logo-small.png);
        background-repeat: no-repeat;
        width: 148px;
        height: 49px;
    }
}





#newItems {
    list-style: none;
}

.productData {
    float:left;
    width: 250px;
}





/**
 * navigation
 */
/*
@media (max-width: 855px) {

    .navbar-nav  {
        background-color: floralwhite;
    }

    .dropdown-menu .dropdown-submenu:hover .dropdown-menu{
        display: none !important;
    }
}
@media (min-width: 855px) {
    ul.nav > li.dropdown:hover > ul.dropdown-menu {
        display: block;
        margin-top: 0px;
    }
    .navbar-nav > .dropdown > a {
        text-transform: uppercase;
        border: 1px solid;
        background-color: #75B3C1 !important;
        color: #FFF !important;
        border-color: #76A8C1 !important;
    }
    .navbar-nav > .dropdown > a:hover {

        background-color: #E6E6E6 !important;
        border-color: #ADADAD !important;
        color: #001 !important;
    }
}
*/
/* Suche und Navbar Wrapper */
.sn-div{
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    width: 80%;

    /*debug:*/
    /*padding:5px;*/
}
.shrinked #header .sn-div{
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    width: 80%;

    /*debug:*/
    /*padding:5px;*/
}
/* Suche Wrapper */
.searchdiv{
    float: left;
    /*margin-top: 10px;*/
    margin-left: 1%;
    margin-right: 1%;
    width: 22%;
    margin-top: 0.5%;
}

/* Navi Wrapper */
.nav-div{
    float: left;
    /*margin-right: 1%;*/
    /*width: 50%;*/
}

/* Service Wrapper */
.service-div{
    float: left;
    /*margin-right: 1%;*/
    /*width: 24%;*/
}

/* Suche: */

#header form.search {
    /*position: relative;*/
    z-index:1500;
}
.unshrinked #header .searchBox {
    /*position: absolute;*/
}
.Lupenfeld{

}
.lupe{
    float: left;
    width: 13%;
}


@media (min-width: 769px) {
    .unshrinked #header .searchBox {
        /*top: 10px;
        width: 520px;
        height: 40px;*/
        margin-left: auto !important;
        margin-right: auto !important;
        /*position: relative;*/
        /*
        top: 10px;
        left: 280px;
        width: 520px;
        height: 40px;
        */
    }
}

@media (max-width: 768px) {
    .unshrinked #header .searchBox {
        right: 0px !important;
        top: 60px !important;
    }
    .unshrinked #header .searchBox input[type="text"] {
        font-size: 14px !important;
        height: 30px !important;;
        width: 300px !important;;
    }
    .shrinked #header .searchBox {
        right: 100px !important;
        top: 10px !important;
    }
}

.shrinked #header .searchBox {
    /*position: absolute;*/
    top: 10px;
    /*right: 200px;*/
    width: 250px;
    left: 10%;
}
.shrinked #header .searchBox input[type=text] {
    height: 30px;
    max-width: 87% !important;
    float: left;
    font-size: 14px;
    /*display: none;*/
    z-index:99;
}
.shrinked #header .searchBox button {
    height: 30px;
    width:  30px;
    float: left;
    /*float: right;
    margin-left: 10px;*/
}
.unshrinked #header .searchBox button i {
    /*display: none;*/
    font-size: 1em !important;
}
.shrinked #header .searchBox button i {
    font-size: 1em !important;
}

.shrinked #header .resultspresent input[type=text] {
    display: block !important;
}
.unshrinked #header .searchBox input[type=text] {
    max-width: 87% !important;
    height:30px;
    float:left;
    font-size:14px;
    /*
    height: 50px;
    width: 400px;
    float: left;
    font-size: 30px;
    */
}

.unshrinked #header .searchBox button {
    height: 30px;
    width:  30px;
    float: left;
    /*margin-left: 10px;*/
}
#header #results {
    display: none;
    position: absolute;
    margin-left: 0!important;
    top: 50px;
    max-width: 400px;
    min-width: 1px;
    border: 1px solid       #e7e7e7;
    background-color:       #fff;
    z-index:1500;
    width: 400px;
}
.unshrinked #header #results {
}
.shrinked #header #results {
    top: 29px;
    right: 40px;
}

#header #results .first {
    display: none;
}
#header #results .image,
#header #results .title {
    padding-left: 5px;
}





/* ende Suche */


.nav > li > a {
    font-size: 10pt;
    padding-left: 5px;
    padding-right: 5px;
}
.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}
.navbar .navbar-collapse {
    text-align: center;
}
.navbar-nav > li > .dropdown-menu {
    padding-left: 8px;
}


.unshrinked #header .navbar-collapse {
    width: 100% !important;
    /*position: absolute;*/
    /*top: 40px;*/
    /*z-index:999;*/
    z-index: 99;
}

@media (max-width: 855px) {
    .nav > li > a {
        font-size: 7pt;
    }
}
@media (min-width: 855px) {
    .shrinked #header .navbar-collapse {
        /*
        width: 480px !important;
        float: left;
        margin-left: 10px;
        */
        width: 100% !important;
        /*position: absolute;*/
        /*top: 85px;*/
        z-index: 99;
    }
    .shrinked #header .nav > li > a {
        font-size: 10pt;
        padding-left: 5px;
        padding-right: 5px;
    }
}

#footer .col-md-3 ul {
    padding-left: 0px;
}

#footer .col-md-3 ul li {
    list-style-type: none;
}
#footer .headline{
    font-weight: bold;
}
.navbar-nav > li > a {
    padding-bottom: 14px;
    padding-top: 14px;
}


/**
 * @todo remove - may be this ist from oxid original
 */
.clear {
    clear: both;
}

.refineParams > #sortItems,
.refineParams > #itemsPerPage,
.refineParams > #viewOptions {
    float: left;
}


.ui-helper-hidden-accessible,
#rssActiveCategory,
#catLongDesc,
#rssActiveCategory span,
#panel .bar {
    display: none;
}

/**
 *  search
 */
.unshrinked #header .searchBox {
    /*position: absolute;*/
}
.unshrinked #header .searchBox input[type=text] {
    /*width: 100% !important;*/
    /*
    height: 50px;
    width: 400px;
    float: left;
    font-size: 30px;
    */
}
.unshrinked #header .searchBox button {
    height: 50px;
    width:  50px;
    float: left;
    margin-left: 10px;
}
#header #results {
    display: none;
    position: absolute;
    margin-left: 0!important;
    top: 31px;
    max-width: 400px;
    min-width: 1px;
    border: 1px solid       #e7e7e7;
    background-color:       #fff;
    z-index:1500;
    width: 400px;
}
#header #results .title {
    text-align: left;
}

.unshrinked #header #results {
}
.shrinked #header #results {
    top: 29px;
    right: 40px;
}
#header form.search {
    position: relative;
    z-index:1500;
}
#header #results .first {
    display: none;
}
#header #results .image,
#header #results .title {
    padding-left: 5px;
}
.shrinked #header .searchBox {
    /*position: absolute;
    top: 10px;
    right: 200px;
    width: 290px*/
}
.shrinked #header .searchBox input[type=text] {
    /*height: 30px;
    width: 250px;*/
    float: left;
    /*font-size: 18px;
    display: none;*/
    z-index:99;
}
.shrinked #header .resultspresent input[type=text] {
    display: block !important;
}
.unshrinked #header .searchBox button {
    /*display: none;*/
    height: 30px;
    width:  30px;
    float: left;
}
.shrinked #header .searchBox button {
    height: 30px;
    width:  30px;
    float: left;
    margin-left: 10px;
}
.shrinked #header .searchBox button i {
    font-size: 1em !important;
}


@media (max-width: 768px) {
    .unshrinked #header .searchBox {
        right: 0px !important;
        top: 60px !important;
    }
    .unshrinked #header .searchBox input[type="text"] {
        font-size: 14px !important;
        height: 30px !important;;
        width: 300px !important;;
    }
    .shrinked #header .searchBox {
        right: 100px !important;
        top: 10px !important;
    }
}
@media (min-width: 769px) {
    .unshrinked #header .searchBox {
        /*top: 10px;
        width: 520px;
        height: 40px;
        margin-left: auto !important;
        margin-right: auto !important;
        position: relative;*/
        /*
        top: 10px;
        left: 280px;
        width: 520px;
        height: 40px;
        */
    }
}


/**
 * minibasket
 */
#miniBasket a {
    position: relative;
}
.shrinked #miniBasket .counter {
    /*position: absolute;
    top: 14px;
    left: 19px;*/
}
.shrinked #miniBasket img {
    /*margin-top: 5px;
    height: 39px;*/
}
#miniBasket a:hover {
    text-decoration: none !important;
}

#content {
    margin-top: 25px;
}

/**
 * Deaktivieren der Zahlungsart und Versandartänderung im Checkout
 */
#orderShipping,
#orderPayment {
    display: none;
}
.nav-tabs{
    font-size:14px !important;
}


/**
 * Spinner styles
 */
.spinner {
    width: 60px; /*100px;*/
    position: relative;
}
.spinner input {
    text-align: right;
    width: 48px !important;
}
.input-group-btn-vertical {
    position: absolute;
    white-space: nowrap;
    width: 1%;
    /*vertical-align: middle;*/
    display: table-cell;
    top: 0px;
    right: 12px;
}
.input-group-btn-vertical > .btn {
    display: block;
    float: none;
    width: 100%;
    max-width: 100%;
    padding: 8px;
    margin-left: -1px;
    position: relative;
    border-radius: 0;
}
.input-group-btn-vertical > .btn:first-child {
    border-top-right-radius: 4px;
}
.input-group-btn-vertical > .btn:last-child {
    margin-top: -2px;
    border-bottom-right-radius: 4px;
}
.input-group-btn-vertical i {
    position: absolute;
    top: 0;
    left: 4px;
}

.accountDashboardView dl {
    float: left;
    width: 300px;

}
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color:      #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color:      #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
.pull-right {
    float: right !important;
}

.btn-success {
    color:                  #FFF;
    background-color:       #94E294; /*#5CB85C;*/
    border-color:           #94E294; /*#4CAE4C;*/
    /*color: #000000;*/
}
.btn-primary {
    color:                  #FFF;
    background-color:       #75B3C1; /*#337AB7;*/
    border-color:           #75B3C1; /*#2E6DA4;*/
}
/* Warenkorb */

.btn-warenkorb{
    height: 19px;
    font-size: 10px;
    width: 111px;
    padding: 1px 12px !important;
}
.warenkorb{
    position: relative !important;
}

/* Warenkorb ende */

/* aus Oxid.css validate error */
.oxValidateError {
    display: none;
    clear: both;
    font-size: 11px;
    line-height: 14px;
    color:                  #ff0000;
    margin: 0;
    padding: 5px 0 5px 175px;
}

.oxValidateError span {
    display: none;
}

.oxValidateError span.req {
    float: none;
    display: inline;
}
.oxInValid label,
.oxInValid p {
    color:                  #ff0000;
}

.oxInValid input,
.oxInValid select,
.oxInValid input:focus {
    border-color:           #e40000;
    background:             #fff8f8;
}

.oxInValid select {
    border-style: solid;
    border-width: 1px;
}

.oxInValid .oxValidateError,
.oxInValid .oxValidateError .js-oxError_postError {
    display:block;
}
/*ende oxid.css */




/* start quickorder styles */
#QuickPositions .headline .td {
    font-weight: bold;
}
#QuickPositions .tr {
    clear: both;
}
#QuickPositions .td {
    padding-right: 10px;
    padding-bottom: 2px;
}
#QuickPositions .artnum {
    width: 110px;
}
#QuickPositions .artnum input {
    width: 110px;
}
#QuickPositions .title,
#QuickPositions .title input {
    width: 500px;
}
#QuickPositions .price {
    width: 100px;
    text-align: right;
}
#QuickPositions .amount {
    width: 75px;
}
#QuickPositions .amount input {
    width: 50px;
}
#QuickPositions .stock {
    width: 75px;
}
#QuickPositions .stock .stock0,
#QuickPositions .stock .stock1,
#QuickPositions .stock .stock2 {
    margin-top: 3px;
    width: 15px;
    height: 15px;
}
#QuickPositions .stock .stock0 {
    background-color:           #00FF00;
}
#QuickPositions .stock .stock1 {
    background-color:           #FFFF00;
}
#QuickPositions .stock .stock2 {
    background-color:           #FF0000;
}
#QuickPositions #newEntryAutoComplete .tr {
    height: 20px;
    width: 100%;
}
#QuickPositions #newEntryAutoComplete .even {
    background-color:           #ccc;
}
#QuickPositions #newEntryAutoComplete .odd {
    background-color:           #eee;
}
#QuickPositions #newEntryAutoComplete .tr {
    cursor: pointer;
}
#QuickPositions #newEntryAutoComplete .tr:hover{
    background-color:           #0066cc;
}
#OXARTNUM {
    width: 600px;

}
.addressBookItem {
    background-color:           #fff;
    border-color:               #ddd;
    border-radius: 4px 4px 4px 4px;
    border-width: 1px;
    box-shadow: none;
    margin-left: 0;
    margin-right: 0;
    border-style: solid;
    padding: 2px;
    margin-bottom: 5px;
    cursor: pointer;
}

.addressBookItem:hover {
    background-color: #ddd;
}

.form-group .big {
    width: 70% !important;
    float: left;
}
.form-group .small {
    width: 30% !important;
    float: left;
}
#orderPreview .headline td {
    font-weight: bold;
}
#orderPreview .amount {
    width: 75px;
}
#orderPreview .title {
    width: 350px;
}
#orderPreview .price {
    text-align: right;
    width: 100px;
}
/* ende quickorder styles */

/* Details Modal */

.pictureBoxDetails img{
    width:100px;
    height:100px;
    margin-left: auto;
    margin-right: auto;
}
/* Startseite */

.startbtns{
    margin-left: auto;
    margin-right: auto;
    /*width:430px;*/
    width:40%;
}
.mini-basket-center{
    /*margin-left: auto;
    margin-right: auto;*/
    margin-top: 0px;
    /*position: absolute;*/
    right: 1px;
    bottom: 1px;
    z-index: 100;
}
.btn-logout{
    width: 150px;
    margin-top: 10px;
    margin-left: 15px;
}
.basketBox{
    margin-top: 0px;
}
.symbol-logout{
    padding-top: 2px;
}
#languageSwitcher{
    float:left;
}
.dropdown-menu{
    min-width: 10px;
}
/*
.shrinked #languageSwitcher{
    float:left;
}
.shrinked #languageSwitcher #btnLangaugeMenue{
    padding: 3px 6px;
    font-size: 10px;
}
.shrinked .symbol-logout a{
    padding: 2px 6px;
    font-size: 10px;
    float:left;
}
*/

.popover {
    font-size: 12px;
}
.popover-content table{
    width: 250px;
}
.popover-content td{
    /*padding-right: 10px;*/
    min-width: 10px;
    border-bottom: solid 1px;
    padding-bottom: 2px;
}
.popover-content .amount td{
    width: 10px;
}
.popover-content .title{
    width: 150px;
}
.minbsum{
    margin-left: auto;
    margin-right: auto;
    text-align: right;
}
/* ende Startseite */

/* Passwort Formular einblenden */

.hide{
    display: none;
}
.show{
    display: block;
}

#basketTotalProductsNettoWeight{
    text-align: right;
    width: 100px;
}

#basketTotalProductsNettoPrice{
    text-align: right;
    width: 100px;
}

/* Rechnungsadresse Form & Lieferadresse Form */

.req{
    font-weight: bold !important;
}
.norm{
    font-weight: normal !important;
}
#incVatMessage {
    position: fixed;
    bottom: -3px;
    right: -5px;
    font-size: 11px;
    padding: 4px 20px 6px 17px;
    /*background: transparent url("../../img/vatmsg-bg.png") no-repeat scroll 0px 0px;*/
    opacity: 0.6;
    z-index: 9999;
}
/*
.back-to-top {
    background: none;
    margin: 0;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 70px;
    height: 70px;
    z-index: 100;
    display: none;
    text-decoration: none;
    color: #ffffff;
    background-color: #ff9000;
}
**/
.back-to-top {
    display: none;
}
.back-to-top i {
    font-size: 50px;
}
.artnr{
    margin-left: 5px;
}

/* basketcontents */

.weight, .unitPrice, .totalPrice{
    text-align: right !important;
}
.adress-margin-left{
    margin-left: 10px !important;
}
.strasse{
    width: 80% !important;
}
.hausnr{

}
.shipadress-input{
    margin:20px 0 0 !important;
}
